header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

header img {
    height: auto;
    width: 300px;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.searchSection {
    display: flex;
    justify-content: center;
}

.mainSearch {
    display: flex;
    flex-direction: row;
    width: 83vw;
    margin-bottom: 20px;
}

::placeholder {
    margin-right: 20px;
}

.inputSearch {
    font-weight:200;
    background: #E7E7E7;
    overflow: hidden;
    border: none;
    white-space: nowrap;
    height: 69px;
    padding-right: 50px;
}

.inputSearch:focus{
    background: #E7E7E7;
}

.bi-search {
    position: relative;
    right: 40px;
    top: 15px;
    font-weight: bolder;
    font-size: 24px;
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

.zoneDropdown {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropdown {
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 60px;
    cursor: pointer;
}

.dropdown--ingredients {
    background-color: rgb(29, 110, 250);
}

.dropdown--appareil {
    background-color: rgb(50, 205, 159);
}

.dropdown--ustensiles {
    background-color: salmon;
}

.optionContainer1,
.optionContainer2,
.optionContainer3 {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;
    top: -9px;
    left: 0px;
    border-radius: 0 0 5px 5px;
    padding-bottom: 9px;
}

.optionContainer1 {
    background-color: rgb(29, 110, 250);
    width: 1330px;
    height: 350px;
}

.optionContainer1::-webkit-scrollbar{
    display: none;
}

.optionContainer2 {
    background-color: rgb(50, 205, 159);
    width: 250px;
    max-height: 350px;
}

.optionContainer3 {
    background-color: salmon;
    width: 430px;
    max-height: 350px;
}

.optionContainer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 320px;
    margin-left: -15px;
    margin-right: 15px;
}

.optionContainer li {
    list-style: none;
    color: white;
    padding-left: -20px;
    font-size: 13px;
    padding-right: 50px;
}

.ingredient,
.appliance,
.ustensil {
    font-size: 14px;
    margin-right: 60px;
}

.optionContainer li:hover {
    color: rgb(212, 206, 206);
}

.dropdownOrange .optionContainer3 {
    background-color: salmon;
}

.dropdownGreen .optionContainer2 {
    background-color: rgb(50, 205, 159);
}

.dropdownGreen {
    background-color: rgb(50, 205, 159);
}

.dropdownOrange {
    background-color: salmon;
}

.name1 {
    margin-left: 15px;
    cursor: pointer;
}

.dropFirst {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 5px 5px 5px;
}

.dropFirst p {
    color: white;
    font-weight: bold;
}

.bi-chevron-down {
    color: white;
    font-size: 20px;
}

.inputInDropdownBlue,
.inputInDropdownGreen,
.inputInDropdownSalmon {
    position: absolute;
    z-index: 10;
    margin-bottom: 8px;
    left: 13px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.inputInDropdownBlue::placeholder,
.inputInDropdownGreen::placeholder,
.inputInDropdownSalmon::placeholder {
    color: rgb(227, 227, 227);
}

textarea:focus,
input:focus {
    color: white;
}

.inputInDropdownBlue {
    background-color: rgb(29, 110, 250);
    cursor: pointer;
    width: 470px;
}

.inputInDropdownGreen {
    background-color: rgb(50, 205, 159);
    width: 190px;
}

.inputInDropdownSalmon {
    background-color: salmon;
    width: 370px;
}

.arrowClose {
    transform: rotate(0deg);
}

.arrowOpen {
    position: relative;
    top: -10px;
    transform: rotate(180deg);
}

.bi-chevron-down {
    position: relative;
    left: -10px;
}

.zoneTag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tag {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 110px;
    padding: 3px 10px;
    color: white;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tagIngredients {
    width:160px;
    background-color: rgb(29, 110, 250);
}

.tagAppareil {
    width: 160px;
    background-color: rgb(50, 205, 159);
}

.tagUstensiles {
    width: 160px;
    background-color: salmon;
}

.tagTxt {
    font-size:16px;
    margin-right: 5px;
}

.bi-x-circle {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

.sectionCards {
    display: flex;
    justify-content: center;
}

.zoneCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80vw;
}

.bg-secondary{
    --bs-bg-opacity: 0.5;
}

.cardContainer {
    margin-top: 20px;
}

.cardBox {
    background: #E7E7E7;
    padding: 20px;
    width: 400px;
    height: 250px;
    border-radius: 0 0 8px 8px;
}

.bodyCard {
    width: 310px;
}

.card-body p {
    font-size: 8px;
}

.titleTimeCard,
.timeCard,
.recetteCard {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.timeCard{
    margin-right: -60px;
}

.titleTimeCard {
    justify-content: space-between;
    margin-bottom: 0;
}

.titleCard{
    margin-left: -10px;
}

.time {
    font-weight: bold;
    min-width: 55px;
}

.bi-clock {
    margin-right: 8px;
}

.ingredientsCard {
    margin-left: -10px;
    width: 400px;
    overflow-x: hidden;
    max-height: 210px;
}

.ingredientsCard p {
    margin-bottom: 0;
    font-size: 11px;
}

.cardResume {
    position: relative;
    right: -70px;
    max-height: 210px;
    max-width:210px ;
    overflow-x: hidden;
    max-height: 250px;
    scrollbar-width: none;
}

.cardResume::-webkit-scrollbar{
    display: none;
}

.cardResume p {
    margin-right:10px;
    font-size: 12px;
    text-overflow: ellipsis;
    max-height: 145px;
}

.cardImg {
    background-position: center;
    background-size:100px 100px contain;
    width: 400px;
    height: 180px;
    border-radius: 8px 8px 0 0;
}

.cardImg img{
    width: 400px;
    height: 180px;
}

#cardMessage{
    display: none;
    font-size: 20px;
}

footer {
    margin-top: 30px;
}